[net]
batch=32
subdivisions=8
height=416
width=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.0001
max_batches = 100000 
policy=steps
steps=100,25000,35000
scales=10,.1,.1

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=1

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

###########

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=36
activation=linear



[yolo]
mask = 3,4,5
#anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
#anchors =  21, 18,  28, 37,  51, 25,  48, 70,  98, 50, 137,126
anchors =  14, 11,  18, 22,  36, 18,  29, 44,  65, 38,  96, 95
classes=7
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 8

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=36
activation=linear

[yolo]
mask = 0,1,2
#anchors = 10,14,  23,27,  37,58,  81,82,  135,169,  344,319
#anchors =  21, 18,  28, 37,  51, 25,  48, 70,  98, 50, 137,126
anchors =  14, 11,  18, 22,  36, 18,  29, 44,  65, 38,  96, 95
classes=7
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

#
#
# cfg-file : filters = (classes + 5) * 3
#
#
#
# ./darknet detector calc_anchors /Data/Pothole_DataSet/20210302-7-PCMTBLO_19201080/my_obj.data -num_of_clusters 6 -width 416 -height 416
#
#  calculating k-means++ ...
#  iterations = 35 
# 
#  counters_per_class = 644, 895, 393, 784, 405, 420, 31
#
#  avg IoU = 65.97 % 
#
#  Saving anchors to the file: anchors.txt 
#  anchors =  14, 11,  18, 22,  36, 18,  29, 44,  65, 38,  96, 95
